@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

h1, h3, p, a {
	font-family: 'Playfair Display';
	font-style: normal;
	font-variant: normal;
}

Button {
	font-family: 'League Spartan', sans-serif;
}

@media only screen and (max-width: 755em) {
	html {
		font-size: 200%;
	}
}

@media only screen and (max-width: 565.255em) {
	html {
		font-size: 125%;
	}
}

@media only screen and (min-width: 1125.5em) {
	html {
		font-size: 200%;
	}
}
